---
import BaseLayout from '@layouts/BaseLayout.astro';



---

<BaseLayout title="Home | Clément LUCAS" description="Homepage of Clément LUCAS personnal site">

	<div> 
		<h1>Home</h1>
		<p>Homepage of Clément LUCAS personnal site</p>
	</div>

</BaseLayout>