---
import MainHead from "@components/MainHead.astro";
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";

interface Props {
	title: string;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body class="animate-background-animation bg-gradient-to-r from-purple-500 to-pink-500 bg-bigger">
        <Nav />
		<slot />
        <Footer />
	</body>
</html>
